{{#foreach posts}}
  <article class="{{post_class}}">
    <header class="post-header">
      <h2><a href="{{url}}">{{title}}</a></h2>
    </header>
    <section class="post-excerpt">
      <p>{{excerpt words="7"}}<br> <a class="read-more" href="{{url}}">Entrar</a></p>
    </section>
    <footer class="post-meta">
      {{#if author.image}}<img src="{{author.image}}" alt="Author image" />{{/if}}
      {{author}}
      {{tags prefix=" en "}}
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
  </article>
 {{/foreach}}