{{#foreach posts}}
  <article class="{{post_class}}">
    <header class="post-header">
    
      <h2><a href="{{url}}">{{title}}</a></h2> 
      {{!-- <small class="post-date">Published:</small>            --}}
      <small class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><span style="color:black">Published:</span> {{date format="DD MMMM YYYY"}}</small>
      {{!-- <br> --}}
      {{!-- <small class="post-date"> Updated:</small> --}}
      <small class="post-date"><span style="color:black">Updated:</span> {{date updated_at format="DD MMMM YYYY"}}</small>

{{!--        <span> | </span>
      <a class="read-more" href="{{url}}"> Entrar</a>
 --}}    </header>

    <section class="post-excerpt">
      <p>{{excerpt words="20"}}<a class="read-more" href="{{url}}">(...)</a></p>
      <a class="read-more-enter" href="{{url}}">Entrar</a>
    </section>
    <footer class="post-meta">
      {{#if author.image}}<img src="{{author.image}}" alt="Author image" />{{/if}}
      {{author}}
      {{tags prefix=" en "}}
      
    </footer>
    <hr>
  </article>
 {{/foreach}}