{{!< default}}

{{#post}}


<main class="Post">
  <article class="{{post_class}}">
    <header class="post-header">
    <div class="Post-top datetime="{{date format='YYYY-MM-DD'}}">
      {{date format="DD MMMM YYYY"}}      
      {{author}}
    </div> 
    <hr>
    <div class="Post-tags">
      <small><em>Tags:</em>{{ tags }}</small>
    </div>   
    </header>
    <section class="post-content">
      {{content}}     
    </section>
        
  </article>
</main>             
{{/post}} 

