{{!< default}}

{{#post}}


<main class="Post">
  <article class="{{post_class}}">
    <header class="post-header">
    <div class="Post-top datetime="{{date format='YYYY-MM-DD'}}">
      {{date format="DD MMMM YYYY"}}      
      <span>by: {{author}}</span>
    </div> 
    <hr>
    <div class="Post-tags">
      <small><em>Tags:</em>{{ tags }}</small>
    </div>   
    </header>
    <section class="post-content">
      {{content}}     
    </section> 
    
     <div class="iframe-cont">

      <div class="">
        <p>Actualizaciones de este artículo</p>
        <iframe src="http://localhost:3000/contact" frameborder="0"></iframe>
      </div>
      <div class="">
      <p>Suscripción al blog</p>
        {{subscribe_form
            form_class="gh-signin"
            placeholder="Email"
            input_class="gh-input"
            button_class="btn btn-blue btn-block"
        }}      
      </div>
     </div>    
  </article>
  <div id="disqus_thread"></div>
  <script>

  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
  /*
  var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//pandawebs.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>  
</main>

{{/post}} 

